<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
    <div class="panel-heading">新建数据库连接</div>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">连接名</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="firstname" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="lastname" class="col-sm-2 control-label">主机名或ip地址</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="lastname" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="lastname" class="col-sm-2 control-label">端口</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="lastname" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="lastname" class="col-sm-2 control-label">用户名</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="lastname" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="lastname" class="col-sm-2 control-label">密码</label>
            <div class="col-sm-3">
                <input type="password" class="form-control" id="lastname" placeholder="">
            </div>

        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">测试连接 </button>
                <button type="submit" class="btn btn-default">保存</button>
            </div>
        </div>
    </form>
</body>
</html>